/* Hero Section styling */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  margin: auto !important;
  width: 100%;
  height: 90vh;
  max-width: 1000px;
  max-height: 100vh !important;
}

.hero-content {
  animation: fadeIn 1.5s ease;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #d9ff00;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #e0e0e0;
  margin-bottom: 1rem;
}

.hero-location {
  font-size: 1.1rem;
  color: #888;
  margin-bottom: 1rem;

}

.hero-skills {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  justify-content: center;
  gap: 1rem;
}

.skill {
  display: flex;
  align-items: center;
  background-color: #1e232b;
  font-size: 1rem;
  color: #d9ff00;
  padding: 0.5rem 1rem;
  border: 2px solid #7f7f7f;
  border-radius: 50px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill:hover {
  background-color: #6000b5;
  color: #fff;
  transform: scale(1.05);
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

/* Fade-In Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .hero-location {
    font-size: 1rem;
  }

  .hero-skills {
    width: 90%;
  }

  .skill {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-location {
    font-size: 0.9rem;
  }

  .skill {
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    border-radius: 30px;
  }
}