.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: auto;
  margin-top: 1%;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  border-radius: 30px;
  background: linear-gradient(135deg, #1f1f1f 0%, #2e2e2e 100%);
  backdrop-filter: blur(5px);
  z-index: 1000;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.current-time {
  font-size: 1.2rem;
  color: #e0e0e0;
  font-weight: bold;
  margin-left: auto;
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #e0e0e0;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-item:hover {
  color: #ffcc00;
  transform: translateY(-2px);
}

.nav-item.active {
  color: #ffcc00;
}

.nav-item.active .icon {
  color: #ff3300;
}

.icon {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-item:hover .icon {
  transform: scale(1.2);
  color: #ff3300;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .navbar {
    width: 90%;
    margin-top: 10px !important;
    padding: 1rem;
  }

  .current-time {
    font-size: .9rem;
  }


  .nav-links {
    gap: 1rem !important;
  }

  .nav-item {
    font-size: .8rem !important;
  }

  .icon {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 480px) {
  .nav-links {
    gap: 0.5rem;
  }

  .nav-item {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 1.2rem;
  }
}