.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #121212;
  color: #e0e0e0;
}

.section-title {
  font-size: 2.5rem;
  color: #d9ff00;
  margin-bottom: 2rem;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto !important;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid grey;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
}

.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  padding: 1.5rem;
  flex-grow: 1;
}

.project-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
}

.project-description {
  font-size: 1.2rem;
  color: #e0e0e0;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tech {
  font-size: 1rem;
  background-color: #333;
  color: #d9ff00;
  padding: .5rem;
  border-radius: 0px;
  transition: background-color 0.3s ease;
}

.tech:hover {
  background-color: rgb(96, 0, 181);
}

.project-buttons {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-top: auto;
}

.button svg {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.read-more,
.read-less {
  color: #d9ff00;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}


@media (min-width: 768px) {
  .projects-list {
    flex-direction: row;
  }

  .project-card {
    width: calc(33.33% - 2rem);
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .projects-list {
    flex-direction: column;
    width: 100%;

  }

  .project-card {
    margin: auto;
    max-width: 100%;
  }

  .project-title {
    font-size: 1.4rem;
  }

  .button {
    padding: .6rem;
    font-size: .8rem;
  }

  .section-title {
    font-size: 2rem !important;
  }

  .project-description {
    font-size: 1rem;
  }
}