* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.button {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  color: #d9ff00;
  border: solid 2px #d9ff00;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
}